* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Montserrat", sans-serif; }

.mayusc {
  text-transform: uppercase; }

/* HEADER */
.navbar-collapse {
  justify-content: flex-end;
  margin-right: 5%; }

.imgHeader {
  width: 100%; }

/* SOBRE NOSOTROS */
#sobreNosotros {
  background-color: black;
  padding-top: 5%;
  padding-bottom: 5%; }

.colorPrimario {
  color: white; }

/* NUESTROS PRODUCTOS */
#nuestrosProductos {
  padding-top: 5%;
  padding-bottom: 5%; }

.fogoneroElemento {
  background-color: white; }

.colorSecundario {
  color: black; }

.imgProd {
  width: 100%; }

.titulo1 {
  font-size: 1.5rem; }

.imgCarousel {
  width: 100%; }

.marginImgCarousel {
  margin-top: 1.75rem; }

/* FOGONERO HIERRO */
.fogoneroHierro {
  background-color: black;
  padding-top: 5%;
  padding-bottom: 5%; }

.padding2 {
  padding-top: 2%;
  padding-bottom: 2%; }
